/*Styling the header*/
.header{
  text-align: center;
font-size: 50px;;
}
sub{
  font-size: 20px ;
}

/*Styling the body*/
body { 
  background-image: url(SAUTISOL_files/b.jpeg);
  font-family: Helvetica, sans-serif;
  padding: 5%;
}
   
/*Styling headings*/
h1{
  font-size: 100px;
  color:rgb(241, 226, 226);
}

h2{
  color: aliceblue;
}
h3{
  color: red;
  text-align: center;
  background-color:red;
  font-size: larger;
}
h4{
  color: aliceblue;
}


/*Styling paragraphs*/
p{font-size: large;
background-color: wheat;
font-weight: 700;
}

/*Styling columns for band members*/
div.column1{
  float: left;
  width: 400px;
  height: 400px;
  padding: 2%;
}
div.column2{
  float: left;
  width: 400px;
  height: 400px;
  padding: 2%;
}
div.column3{
  float: left;
  width: 400px;
  height: 400px;
  padding: 2%;
}
div.column4{
  float: left;
  width: 400px;
  height: 400px;
  padding: 2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Styling band images under why i love sautisol*/
.box{
  float: left;
  padding: 1%;
}

/*Styling the slideshow using css animation*/
#slideshow {
  image-orientation: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-holder {
  width: 3640px;
  animation: slide 13s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image:url(SAUTISOL_files/mwanzo.png);
  height: 510px;
  width: 728px;
}

.slide:nth-child(2) {
  background-image: url(SAUTISOL_files/solfilosofia2011.png);
  height: 510px;
  width: 728px;
}

.slide:nth-child(3) {
 background-image: url(SAUTISOL_files/LiveanddieinAfrika.png);
 height: 510px;
  width: 728px;
}
.slide:nth-child(4) {
  background-image: url(SAUTISOL_files/Afrikansauce.png);
  height: 510px;
  width: 728px;
}
.slide:nth-child(5) {
  background-image: url(SAUTISOL_files/Midnighttrain.jpeg);
  height: 510px;
  width: 728px;

}

.slide-title{
  color: #000;
 image-orientation: center;
}

@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

/*Styling background for instagram links*/
.links{
  background-color: rgb(20, 18, 18);
}