.header{
  text-align: center;
  background-color: black;
font-size: 50px;;
}

sub{
  font-size: 20px ;
}
    
h1{
  font-size: 100px;
  color:rgb(241, 226, 226);
}
body { 
  background-image: url(BG.jpeg);
}

p{font-size: large;
background-color: rgb(228, 210, 213);}

body {
  font-family: Helvetica, sans-serif;
  padding: 5%;

}

#slideshow {
  image-orientation: center;
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-holder {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image:url(mwanzo.png);
  height: 510px;
  width: 728px;
}

.slide:nth-child(2) {
  background-image: url(solfilosofia2011.png);
  height: 510px;
  width: 728px;
}

.slide:nth-child(3) {
 background-image: url(LiveanddieinAfrika.png);
 height: 510px;
  width: 728px;
}
.slide:nth-child(4) {
  background-image: url(Afrikansauce.png);
  height: 510px;
  width: 728px;
}
.slide:nth-child(5) {
  background-image: url(Midnighttrain.png);
  height: 510px;
  width: 728px;

}

.slide-title{
  color: #000;
 image-orientation: center;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

div.column1{
  float: left;
  width: 400px;
  height: 400px;
}
div.column2{
  float: left;
  width: 400px;
  height: 400px;
}
div.column3{
  float: left;
  width: 400px;
  height: 400px;
}
div.column4{
  float: left;
  width: 400px;
  height: 400px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
h3{
  color: red;
  text-align: center;
  background-color:red;
  font-size: larger;
}